/* Ensures that children maintain their aspect ratio */
.child[b-70tz6r8220] {
    position: relative;
    width: 100%;
    padding-top: 100%;
    /* This creates a 1:1 aspect ratio */
}

.child-content[b-70tz6r8220] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}